<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express Server App</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

  <h1>Users List</h1>
    <ul id="users-list">
    </ul>
    <form id="user-form">
    <input type="text" id="name" placeholder="New User Name" required>
    <input type="email" id="email" placeholder="New User Email" required>
    <button type="submit">Add User</button>
    </form>

  <h1>Posts List</h1>
  <ul id="posts-list">
  </ul>
  <form id="post-form">
    <input type="number" id="userId" placeholder="User ID" required>
    <input type="text" id="title" placeholder="New Post Title" required>
    <input type="text" id="content" placeholder="New Post Content" required>
    <button type="submit">Add Post</button>
  </form>

  <h1>Comments List</h1>
  <ul id="comments-list">
  </ul>
  <form id="comment-form">
    <input type="number" id="postId" placeholder="Post ID" required>
    <input type="text" id="text" placeholder="New Comment Text" required>
    <button type="submit">Add Comment</button>
  </form>

  <script src="/scripts.js"></script>
</body>
</html>
